template(name="about")

  div(vertical layout center)
    .public-content
      h2 Our story.
      h3 Conceptualized by Ash Maurya
      p
        | Ash Maurya, author of
        a(href='http://runninglean.co/') Running Lean
        | ,
        | originally conceptualized USERcycle and iterated the product for the
        | first few years of our life. Ash's original product remains available
        | as
        a(href='http://classic.usercycle.com') USERcycle Classic
        | .
      h3 Reinvisioning
      p
        | In July 2014,
        a(href='http://differential.com') Differential
        | ,
        a(href='https://angel.co/ry') Ry Walker
        | , and
        a(href='https://angel.co/tim-brunk') Tim Brunk
        | took over day-to-day leadership
        | of USERcycle, including reinvisioning the product into a more simple and
        | prescriptive form.
        a(href='https://angel.co/ben-gregory') Ben Gregory
        | and
        a(href='https://angel.co/schnie') Greg Nieheisel
        | have also joined the team.
