template(name="dashboardLayout")
  +globalLayout

    core-drawer-panel(data-drawer-panel)
      // Drawer
      core-header-panel(mode='waterfall' drawer)
        core-toolbar.toolbar.toolbar-dark
          a.header-logo(href='/')
            img(src='/img/white-logo.png')
        div(layout vertical fit)
          core-menu.nav
            core-submenu(label='Projects', icon='apps', active)
              a(href='{{pathFor route="home"}}')
                paper-item(data-action='switch-project')
                  core-icon(icon='chevron-right')
                  | Project 1
              a(href='{{pathFor route="home"}}')
                paper-item(data-action='switch-project')
                  core-icon(icon='chevron-right')
                  | Project 2
            a(href='#')
              paper-item
                core-icon(icon='settings')
                | Settings
            a(href='http://google.com')
              paper-item
                core-icon(icon='editor:insert-drive-file')
                | Google External
            paper-item(data-action='sign-out')
              core-icon(icon='exit-to-app')
              | Sign out
          div(flex)
          core-menu
            paper-item.list-item.current-user(label='{{currentEmail}}')
      // Main Content
      core-header-panel(mode='waterfall', main)
        core-toolbar.toolbar.toolbar-primary
          if narrow
            paper-icon-button(icon='menu', data-action='toggle-drawer')

          +yield "contentToolbar"
        .content
          if UI.contentBlock
            +UI.contentBlock
          else
            +yield
