template(name="onboarding")
  +contentFor(region="contentToolbar")
    h3 Thanks for signing up

  div(horizontal layout center-justified)
    paper-shadow.card.card-progress(z='1')
      ul
        li
          a(href='http://vimeo.com/11932184#t=705s') Watch the video
          | that inspired our product (Phil Libin from Evernote).
        li
          | Watch this quick demo:
          br
          iframe(width='480', height='360', src='//www.youtube.com/embed/89uDdKv0-kQ?rel=0&showinfo=0', frameborder='0', allowfullscreen)
        li
          | Read our
          a(href='blog.usercycle.com/lean-analytics-big-impact-an-interview-with-ben-yoskovitz/')  interview with Ben Yoskovitz 
          | , on why it's critical to focus on the metrics that matter.
        li
          | Read and execute our
          a(href='http://docs.usercycle.com/article/2196-How-Can-I-Get-Set-Up') setup guide
          | .
        li
          a(href='mailto:hey@usercycle.com') Drop us an email
          | if you have any questions.
